<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>reMovie</title>
<link rel="stylesheet" href="/css/navbar.css"/>
<link rel="stylesheet" href="/css/rating-form.css"/>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merienda+One">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand-xl navbar-light bg-light">
	<a href="/" class="navbar-brand"><i class="fa fa-cube"></i>re<b>Movie</b></a>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<div class="navbar-nav">
			<a href="/movies" class="nav-item nav-link">Film</a>
			<a href="/directors" class="nav-item nav-link">Registi</a>
			<a href="/actors" class="nav-item nav-link">Attori</a>
		</div>
		<div class="navbar-nav ml-auto">
			<div th:if="${session.isEmpty()}"  class="navbar-nav">
				<a href="/login" class="nav-item nav-link"><i class="fa fa-user-o"></i> Login</a></a>
			</div>
			<!--  -->
			<div th:unless="${session.isEmpty()}" class="nav-item dropdown">
				<a th:if="${session.admin}" href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"> <b class="caret"> Admin</b></a>
				<a th:unless="${session.admin}" href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"> <b class="caret" th:text="${session.username}"></b></a>
				<div class="dropdown-menu dropdown-menu-right">
					<a href="/profile/reviews" class="dropdown-item"><i class="fa fa-user-o"></i> Recensioni</a></a>
					<div class="dropdown-divider"></div>
					<a href="/logout" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a></a>
				</div>
			</div>
		</div>
	</div>
</nav>
<br>
<br>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h2><b th:text="'Modifica la tua recensione a ' + ${review.movie != null ? review.movie.title : (review.member.name + ' ' + review.member.surname)}"></b></h2>
				<form th:action="@{/profile/reviews/{id}/edit(id=${review.id})}" th:method="post" th:object="${review}">
					<div class="form-group stars">
		            <label for="stars" >Rating</label>
		            	<input class="star star-5" id="star-5" type="radio" name="star" value="5" th:field="*{rating}"/> <label class="star fa fa-star star-5" for="star-5"></label>
		            	<input class="star star-4" id="star-4" type="radio" name="star" value="4" th:field="*{rating}"/> <label class="star fa fa-star star-4" for="star-4"></label>
		            	<input class="star star-3" id="star-3" type="radio" name="star" value="3" th:field="*{rating}"/> <label class="star fa fa-star star-3" for="star-3"></label>
		            	<input class="star star-2" id="star-2" type="radio" name="star" value="2" th:field="*{rating}"/> <label class="star fa fa-star star-2" for="star-2"></label>
		            	<input class="star star-1" id="star-1" type="radio" name="star" value="1" th:field="*{rating}"/> <label class="star fa fa-star star-1" for="star-1"></label>
		            </div>
		            
					<div class="form-group">
						<label for="inputMessage">Testo</label>
						<textarea class="form-control" id="inputMessage" rows="5" required
							th:field="*{description}" name=description></textarea>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-success">Modifica</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>