<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merienda+One">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="/css/navbar.css"/>
	<link rel="stylesheet" href="/css/table.css"/>
	
	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function() {
			
			$( "#searchBySubject" ).click(function() {
				var subject = $('#inputSubject').val();
				window.location = '?subject=' + subject;
				
				return false;
			});
		});
	</script>
</head>
<body>
<nav class="navbar navbar-expand-xl navbar-light bg-light">
	<a href="/" class="navbar-brand"><i class="fa fa-cube"></i>re<b>Movie</b></a>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<div class="navbar-nav">
			<a href="/movies" class="nav-item nav-link">Film</a>
			<a href="/directors" class="nav-item nav-link">Registi</a>
			<a href="/actors" class="nav-item nav-link">Attori</a>
		</div>
		<div class="navbar-nav ml-auto">
			<div th:if="${session.isEmpty()}"  class="navbar-nav">
				<a href="/login" class="nav-item nav-link"><i class="fa fa-user-o"></i> Login</a></a>
			</div>
			<!--  -->
			<div th:unless="${session.isEmpty()}" class="nav-item dropdown">
				<a th:if="${session.admin}" href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"> <b class="caret"> Admin</b></a>
				<a th:unless="${session.admin}" href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"> <b class="caret" th:text="${session.username}"></b></a>
				<div class="dropdown-menu dropdown-menu-right">
					<a href="/profile/reviews" class="dropdown-item"><i class="fa fa-user-o"></i> Recensioni</a></a>
					<div class="dropdown-divider"></div>
					<a href="/logout" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a></a>
				</div>
			</div>
		</div>
	</div>
</nav>
<br>
<br>
<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2><b>Recensioni</b></h2></div>
                </div>
           	</div>
           	<div th:if="${param.error}">
				<div class="alert alert-warning">Azione non consentita</div>
			</div>
           	<div class="table-filter">
            	<div class="row">
               		<div class="col-sm-12">
                 		<div class="filter-group">
                 		<a th:href="@{/profile/reviews}"><button type="button" class="btn btn-primary">Visualizza Tutte</button></a>
                     		<label>Nome, Cognome, Titolo</label>
                   			<input type="text" id="inputSubject" class="form-control">
                   			<button type="button" id="searchBySubject" class="btn btn-primary"><i class="fa fa-search"></i></button>
                 		</div>
            		</div>
           		</div>
            </div>
                 <table class="table table-bordered">
					<thead>
						<tr>
							<th scope="col">Oggetto</th>
							<th scope="col">Rating</th>
							<th scope="col">Testo</th>
							<th th:if="${session.admin}" scope="col">Utente</th>
							<th scope="col">Azioni</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="review : ${reviewList}">
							<td th:text="${review.movie} ? ${review.movie.title} : ${review.member.name + ' ' + review.member.surname}"></td>
							<td th:text="${review.rating}"></td>
							<td th:text="${review.description}"></td>
							<td th:if="${session.admin}" th:text="${review.user.username}"></td>
							<td>
           					<div class="row align-items-center justify-content-center">
           						<a th:if="!${session.admin}" th:href="@{/profile/reviews/{id}/edit(id=${review.id})}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
           						<a class="delete" title="Delete" data-toggle="modal" data-target="#exampleModal" th:attr="data-target='#modal-toTrash'+${review.id}"><i class="material-icons">&#xE872;</i></a>
                            </div>
       					</td>
       					<!-- Modal -->
							<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" th:id="modal-toTrash+${review.id}">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h5 class="modal-title" id="exampleModalLabel">Eliminazione recensione</h5>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body">
							        Sei sicuro di proseguire?
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
							        <a th:href="@{/profile/reviews/{id}/delete(id=${review.id})}"><button type="button" class="btn btn-primary"> Si</button></a>
							      </div>
							    </div>
							  </div>
						</div>
					</tr>
				</tbody>
            </table>
        </div>
    </div>
</div>  
</body>
</html>