<!DOCTYPE html>
<html lang="it" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>reMovie</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merienda+One">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="/css/navbar.css"/>
<link rel="stylesheet" href="/css/table.css"/>
<script type="text/javascript" th:inline="javascript">
		$(document).ready(function() {
			var url_string = window.location.href;
			var url = new URL(url_string);
			var error = url.searchParams.get("error");
			if(error === "true"){
				$('#errorModal').modal(); 
			}
			$( "#searchBySurname" ).click(function() {
				var surname = $('#inputSurname').val();
				window.location = '?surname=' + surname;
				
				return false;
			});
		});
</script>
</head>
<body>	
<nav class="navbar navbar-expand-xl navbar-light bg-light">
		<a href="/" class="navbar-brand"><i class="fa fa-cube"></i>re<b>Movie</b></a>
		<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<!-- Collection of nav links, forms, and other content for toggling -->
		<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
			<div class="navbar-nav">
				<a href="/movies" class="nav-item nav-link">Film</a>
				<a href="/directors" class="nav-item nav-link">Registi</a>
				<a href="/actors" class="nav-item nav-link">Attori</a>
			</div>
			<div class="navbar-nav ml-auto">
				<div th:if="${session.isEmpty()}"  class="navbar-nav">
					<a href="/login" class="nav-item nav-link"><i class="fa fa-user-o"></i> Login</a></a>
				</div>
				<!--  -->
				<div th:unless="${session.isEmpty()}" class="nav-item dropdown">
					<a th:if="${session.admin}" href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"> <b class="caret"> Admin</b></a>
					<a th:unless="${session.admin}" href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"> <b class="caret" th:text="${session.username}"></b></a>
					<div class="dropdown-menu dropdown-menu-right">
						<a href="/profile/reviews" class="dropdown-item"><i class="fa fa-user-o"></i> Recensioni</a></a>
						<div class="dropdown-divider"></div>
						<a href="/logout" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a></a>
					</div>
				</div>
			</div>
		</div>
	</nav>

<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2><b>Registi</b></h2></div>
                    <div class="col-sm-4">
                    	<a th:href="@{/directors/add}"><button th:if="${session.admin}"  type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i>Aggiungi Nuovo Regista</button></a>
                	</div>
                </div>
           	</div>
            <div class="table-filter">
            	<div class="row">
               		<div class="col-sm-12">
                 		<div class="filter-group">
                 		<a th:href="@{/directors}"><button type="button" class="btn btn-primary">Visualizza Tutti</button></a>
                     		<label>Cognome</label>
                   			<input type="text" id="inputSurname" class="form-control">
                   			<button type="button" id="searchBySurname" class="btn btn-primary"><i class="fa fa-search"></i></button>
                 		</div>
                 		
            		</div>
           		</div>
            </div>
            <table class="table table-bordered">
                <thead>
        			<tr>
						<th>Nome</th>
						<th>Cognome</th>
						<th>Data di nascita</th>
						<th>Nazionalità</th>
						<th>Genere preferito</th>
						<th>È un produttore?</th>
						<th>Azioni</th>
	        		</tr>
				</thead>
	      		<tbody>
	         		<tr th:each="director : ${directors}" class="text-center">
						<td th:text="${director.name}"></td>
	          			<td th:text="${director.surname}"></td>
	              		<td th:text="${director.birthDate}"></td>
	              		<td th:text="${director.nationality}"></td>
	              		<td th:text="${director.favouriteGenre}"></td>
	              		<td th:if="${director.isProducer} == true"> Sì</td>
	              		<td th:if="${director.isProducer} == false"> No</td>
	              		<td>
	              			<div class="row align-items-center justify-content-center">
	              			<a th:href="@{/directors/{id}(id=${director.id})}" class="view" title="View" data-toggle="tooltip"><i class="material-icons">visibility</i></a>
	              			<a th:if="${session.admin}" th:href="@{/directors/{id}/edit(id=${director.id})}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a th:if="${session.admin}" class="delete" title="Delete" data-toggle="modal" data-target="#exampleModal" th:attr="data-target='#modal-toTrash'+${director.id}"><i class="material-icons">&#xE872;</i></a>
                            </div>
       					</td>
       					<!-- Modal -->
							<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" th:id="modal-toTrash+${director.id}">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h5 class="modal-title" id="exampleModalLabel">Eliminazione regista</h5>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body">
							        Sei sicuro di proseguire?
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
							        <a th:href="@{/directors/{id}/delete(id=${director.id})}"><button type="button" class="btn btn-primary"> Si</button></a>
							      </div>
							    </div>
							  </div>
							</div>
					</tr>
				</tbody>
            </table>
        </div>
    </div>
</div>   
<div class="modal fade" id="errorModal" >
	    <div class="modal-dialog" >
	      <div class="modal-content">
	      
	        <!-- Modal Header -->
	        <div class="modal-header">
	          <h4 class="modal-title">Attenzione</h4>
	          <a th:href="@{/directors}"><button type="button" class="close" >×</button></a>
	        </div>
	        
	        <!-- Modal body -->
	        <div class="modal-body">
	          Non puoi eliminare un regista se è associato ad almeno un film
	        </div>
	        
	        <!-- Modal footer -->
	        <div class="modal-footer">
	          <a th:href="@{/directors}"><button type="button" class="btn btn-primary" >Close</button></a>
	        </div>
	        
	      </div>
	    </div>
	  </div>
</body>
</html>