@charset "ISO-8859-1";
input.star {
    display: none
}

label.star {
    float: right;
    padding: 10px;
    font-size: 18px;
    transition: all .2s
}

input.star:checked~label.star:before {
    content: '\f005';
    color: #FFD700;
    transition: all .25s
}

input.star-5:checked~label.star:before {
    color: #FFD700;
    text-shadow: 1px 1px 5px #D3D3D3
}

input.star-1:checked~label.star:before {
    color: #F62
}

label.star:hover {
    transform: scale(1.3)
}

label.star:before {
    content: '\f005';
    color: #DCDCDC;
}
