<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merienda+One">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/navbar.css"/>
    	<style>
	    	form label {
				font-weight:bold
	    	}
	    	
	    	#actorsDiv {
				height:300px;
				overflow-y: scroll;
			}
    	</style>
	</head>
	<script type="text/javascript" th:inline="javascript" src="/js/add-movie.js"></script>
	<body>
		<nav class="navbar navbar-expand-xl navbar-light bg-light">
			<a href="/" class="navbar-brand"><i class="fa fa-cube"></i>re<b>Movie</b></a>
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<!-- Collection of nav links, forms, and other content for toggling -->
			<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
				<div class="navbar-nav">
					<a href="/movies" class="nav-item nav-link">Film</a>
					<a href="/directors" class="nav-item nav-link">Registi</a>
					<a href="/actors" class="nav-item nav-link">Attori</a>
				</div>
				<div class="navbar-nav ml-auto">
					<div th:if="${session.isEmpty()}"  class="navbar-nav">
						<a href="/login" class="nav-item nav-link"><i class="fa fa-user-o"></i> Login</a></a>
					</div>
					<!--  -->
					<div th:unless="${session.isEmpty()}" class="nav-item dropdown">
						<a th:if="${session.admin}" href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"> <b class="caret"> Admin</b></a>
						<a th:unless="${session.admin}" href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"> <b class="caret" th:text="${session.username}"></b></a>
						<div class="dropdown-menu dropdown-menu-right">
							<a href="/profile/reviews" class="dropdown-item"><i class="fa fa-user-o"></i> Recensioni</a></a>
							<div class="dropdown-divider"></div>
							<a href="/logout" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a></a>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<br><br>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<h1>Aggiungi un nuovo film</h1>
	
					<form id="form" >
						<div class="form-group">
							<label class="control-label" for="name"> Titolo </label> 
							<input class="form-control" id="title" required autofocus="autofocus" />
						</div>
	
						<div class="form-group">
							<label class="control-label" for="runningTime"> Durata (in minuti) </label> 
							<input class="form-control" type="number" id="runningTime" required autofocus="autofocus" />
						</div>
						
						<div class="form-group">
			            	<label class="control-label" for="director"> Regista </label><br>
						    <select class="form-control selectpicker" id="director">
							  <option th:each="director : ${allDirectors}" 
							          th:value="${director.id}" 
							          th:text="|${director.name} ${director.surname}|"></option>
							</select>
						</div>
			            
			            <div class="form-group">
			            	<label class="control-label" for="genre"> Genere </label><br>
						    <select  class="form-control selectpicker" id="genre">
							  <option th:each="genere : ${allGenres}" 
							          th:value="${genere}" 
							          th:text="${genere}"></option>
							</select>
						</div>
							
						<div class="form-group">
							<label class="control-label" for="productionCompany"> Casa di Produzione </label> 
							<input class="form-control"  id="productionCompany" required autofocus="autofocus" />
						</div>
							
						<div class="form-group">
							<label class="control-label" for="releaseDate"> Anno di Rilascio </label> 
							<input class="form-control" type="number" id="releaseDate" required autofocus="autofocus" />
						</div>
						
						<div class="form-group">
							<label class="control-label" for="plot"> Breve Trama </label> 
							<textarea class="form-control" rows="3" id="plot" required autofocus="autofocus"> </textarea>
						</div>
						
						<div class="form-group">
							<div class="custom-control custom-checkbox">
							<input id="checkboxRemake" type="checkbox" class="form-check-input" onclick="viewRemake()" unchecked>
								<label for="prod">È il remake di un altro film?</label>
						        <label id="yesno"> No </label>
							</div>
						    <select class="form-control selectpicker" id="remake" disabled>
							  <option th:each="movie : ${allMovies}" 
							          th:value="${movie.id}" 
							          th:text="${movie.title}"></option>
							</select>
						</div>
						
						<label class="control-label" for="actors"> Attori </label> 
						<div class="form-group" id="actorsDiv">
							
							<table class="table table-bordered">
				                <thead>
				        			<tr>
				        				<th></th>
										<th>Nome</th>
										<th>Cognome</th>
										<th>Data di Nascita</th>
										<th>Nazionalita'</th>
					        		</tr>
								</thead>
					      		<tbody>
					         		<tr th:each="actor : ${allActors}" class="text-center">
					         			<td>
					         				<span class="custom-checkbox">
					         					<input type="checkbox" name="actorCheckbox" th:value="${actor.id}">
					         				</span>
					         			</td>
					          			<td th:text="${actor.name}"></td>
					              		<td th:text="${actor.surname}"></td>
					              		<td th:text="${actor.birthDate}"></td>
					              		<td th:text="${actor.nationality}"></td>
									</tr>
								</tbody>
				            </table>
						</div>
						
	
						<div class="form-group">
							<button type="submit" id="button" class="btn btn-success" >Aggiungi</button>
						</div> 
					</form>
					
					 <div class="modal fade" id="myModal">
   						<div class="modal-dialog">
     						<div class="modal-content">
     
	      						<!-- Modal Header -->
								<div class="modal-header">
	  								<h4 class="modal-title">Attenzione</h4>
	  								<button type="button" class="close" data-dismiss="modal">×</button>
								</div>
	
								<!-- Modal body -->
								<div class="modal-body">
	  								Devi inserire almeno un attore
								</div>
	
								<!-- Modal footer -->
	      						<div class="modal-footer">
	        						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
	      						</div>
    						</div>
  						</div>
					</div>
					
					
				</div>
			</div>
		</div>
	</body>
</html>