<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merienda+One">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/navbar.css"/>
	
	<style>
    	label {
			font-weight:bold
    	}
    	#actorLi {
		    margin: 5px;
		}
		.checked {
			color: #FFD700;
		}
		
		.card-body {
			margin-top: 10px;
		}
		
		.card {
			margin-top: 10px;
		}
    	
   	</style>
</head>
<body>
	<nav class="navbar navbar-expand-xl navbar-light bg-light">
		<a href="/" class="navbar-brand"><i class="fa fa-cube"></i>re<b>Movie</b></a>
		<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<!-- Collection of nav links, forms, and other content for toggling -->
		<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
			<div class="navbar-nav">
				<a href="/movies" class="nav-item nav-link">Film</a>
				<a href="/directors" class="nav-item nav-link">Registi</a>
				<a href="/actors" class="nav-item nav-link">Attori</a>
			</div>
			<div class="navbar-nav ml-auto">
				<div th:if="${session.isEmpty()}"  class="navbar-nav">
					<a href="/login" class="nav-item nav-link"><i class="fa fa-user-o"></i> Login</a></a>
				</div>
				<!--  -->
				<div th:unless="${session.isEmpty()}" class="nav-item dropdown">
					<a th:if="${session.admin}" href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"> <b class="caret"> Admin</b></a>
					<a th:unless="${session.admin}" href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"> <b class="caret" th:text="${session.username}"></b></a>
					<div class="dropdown-menu dropdown-menu-right">
						<a href="/profile/reviews" class="dropdown-item"><i class="fa fa-user-o"></i> Recensioni</a></a>
						<div class="dropdown-divider"></div>
						<a href="/logout" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a></a>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div class="col">
				<h2><b th:text="${movie.title}"></b></h2>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<ul class="list-group">
					<br><label class="control-label"> Durata: </label> <li class="list-group-item" th:text="${movie.runningTime}"></li>
					<br><label class="control-label"> Genere: </label> <li class="list-group-item" th:text="${movie.genre}"></li>
					<br><label class="control-label"> Casa di Produzione: </label> <li class="list-group-item" th:text="${movie.productionCompany}"></li>
					<br><label class="control-label"> Anno di Uscita: </label> <li class="list-group-item" th:text="${movie.releaseDate}"></li>
					<br><label class="control-label"> Trama: </label> <li class="list-group-item" th:text="${movie.plot}"></li>
					<br><label class="control-label"> Regista: </label> <li class="list-group-item" th:text="${movie.director.surname +' '+movie.director.name}"></li>
					<br th:if="${movie.remake != null}"><label class="control-label" th:if="${movie.remake != null}"> Remake di: </label> <li th:if="${movie.remake != null}" class="list-group-item" th:text="${movie.remake.title}"></li>
					<br><label class="control-label"> Attori: </label>
					<ul class="list-group" th:each="actor : ${movie.actors}">
						<li class="list-group-item" id="actorLi" th:text="${actor.surname +' '+actor.name}"></li>
					</ul>				
				</ul>
			</div>
		</div>
		<br>
		<br>
		<br>
		<div class="row">
            <div class="col-sm-8"><h4><b>Recensioni</b></h4></div>
                    <div class="col-sm-4">
                    	<a th:href="@{/movies/{id}/review/add(id=${movie.id})}"><button th:if="${session.admin == null && session.username != null}"  type="button" class="btn float-right btn-info add-new"><i class="fa fa-plus"></i>Aggiungi una recensione</button></a>
                	</div>
             </div>
             <br>
		<div class="card" th:each="review : ${reviews}">
		    <div class="card-body">
		        <div class="row">
	        	    <div class="col-sm-12">
	        	        <p>
	        	             <span class="float-left" ><strong th:text="${review.user.username}"></strong></span>
	        	             <span class="float-right"><i th:classappend="${review.rating >= 5} ? 'checked'" class="fa fa-star"></i></span>
	                         <span class="float-right"><i th:classappend="${review.rating >= 4} ? 'checked'" class="fa fa-star"></i></span>
	                         <span class="float-right"><i th:classappend="${review.rating >= 3} ? 'checked'" class="fa fa-star"></i></span>
	                         <span class="float-right"><i th:classappend="${review.rating >= 2} ? 'checked'" class="fa fa-star"></i></span>
	                         <span class="float-right"><i th:classappend="${review.rating >= 1} ? 'checked'" class="fa fa-star"></i></span>
	        	       </p>
	        	       <div class="clearfix"></div>
	        	    <p th:text="${review.description}"></p>
		        </div>
		    </div>
    	</div>	
	</div>
	<br>
	<br>
	<br>
	</div>
</body>
</html>