<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>reMovie</title>
<link rel="stylesheet" href="/css/navbar.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merienda+One">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head> 
<body>
<nav class="navbar navbar-expand-xl navbar-light bg-light">
	<a href="/" class="navbar-brand"><i class="fa fa-cube"></i>re<b>Movie</b></a>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<div class="navbar-nav">
			<a href="/movies" class="nav-item nav-link">Film</a>
			<a href="/directors" class="nav-item nav-link">Registi</a>
			<a href="/actors" class="nav-item nav-link">Attori</a>
		</div>
		<div class="navbar-nav ml-auto">
			<div th:if="${session.isEmpty()}"  class="navbar-nav">
				<a href="/login" class="nav-item nav-link"><i class="fa fa-user-o"></i> Login</a></a>
			</div>
			<!--  -->
			<div th:unless="${session.isEmpty()}" class="nav-item">
					<a th:if="${session.admin}" href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"> <b class="caret"> Admin</b></a>
					<a th:unless="${session.admin}" href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"> <b class="caret" th:text="${session.username}"></b></a>
					<div class="dropdown-menu dropdown-menu-right">
						<a href="/profile/reviews" class="dropdown-item"><i class="fa fa-user-o"></i> Recensioni</a></a>
						<div class="dropdown-divider"></div>
						<a href="/logout" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a></a>
					</div>
			</div>
		</div>
	</div>
</nav>
<div class="card-columns" >
<a href="/directors">
	<div class="card mb-3">
	  <img class="card-img-top" src="../static/image/regista.jpg" alt="Card image cap" th:src="@{image/regista.jpg}">
	  <div class="card-body">
	    <h5 class="card-title">Registi</h5>
	    <p class="card-text">Visualizza i registi più acclamati e scrivi la tua recensione!</p>
	  </div>
	</div>
</a>
<a href="/movies">
	<div class="card mb-3">
	  <img class="card-img-top" src="../static/image/film.jpg" alt="Card image cap" th:src="@{image/film.jpg}">
	  <div class="card-body">
	    <h5 class="card-title">Film</h5>
	    <p class="card-text">Cerca i film più popolari e scrivi la tua recensione!</p>
	  </div>
	</div>
</a>
<a href="/actors">
	<div class="card mb-3">
	  <img class="card-img-top" src="../static/image/attori.jpg" alt="Card image cap" th:src="@{image/attori.jpg}">
	  <div class="card-body">
	    <h5 class="card-title">Attori</h5>
	    <p class="card-text">Ammira gli attori più famosi e scrivi la tua recensione!</p>
	  </div>
	</div>
</a>
</div>

</body>
</html>      