<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merienda+One">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="/css/navbar.css"/>
</head>
<style type="text/css">
	.registration-form {
	    width: 340px;
	    margin: 100px auto;
	  	font-size: 15px;
	}
	.registration-form  form {
	    margin-bottom: 15px;
	    background: #f7f7f7;
	    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	    padding: 30px;
	}
	.registration-form  h2 {
	    margin: 0 0 15px;
	}
	.registration-form , .btn {
	    min-height: 38px;
	    border-radius: 2px;
	}
	.btn {        
	    font-size: 15px;
	    font-weight: bold;
	}
</style>
<body>

	<nav class="navbar navbar-expand-xl navbar-light bg-light">
	<a href="/" class="navbar-brand"><i class="fa fa-cube"></i>re<b>Movie</b></a>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<div class="navbar-nav">
			<a href="/movies" class="nav-item nav-link">Film</a>
			<a href="/directors" class="nav-item nav-link">Registi</a>
			<a href="/actors" class="nav-item nav-link">Attori</a>
		</div>
		<div class="navbar-nav ml-auto">
			<div th:if="${session.isEmpty()}"  class="navbar-nav">
				<a href="/login" class="nav-item nav-link"><i class="fa fa-user-o"></i> Login</a></a>
			</div>
			<!--  -->
			<div th:unless="${session.isEmpty()}" class="nav-item dropdown">
				<a th:if="${session.admin}" href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"> <b class="caret"> Admin</b></a>
				<a th:unless="${session.admin}" href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"> <b class="caret" th:text="${session.username}"></b></a>
				<div class="dropdown-menu dropdown-menu-right">
					<a href="/profile/reviews" class="dropdown-item"><i class="fa fa-user-o"></i> Recensioni</a></a>
					<div class="dropdown-divider"></div>
					<a href="/logout" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a></a>
				</div>
			</div>
		</div>
	</div>
</nav>
	
	<div class="registration-form">
		<form th:action="@{/registration}" method="post" th:object="${user}" >
			<div th:if="${param.error}">
				<div class="alert alert-warning">Username gia' esistente</div>
			</div>
			<h2 class="text-center">Registrazione</h2> 
			<div class="form-group">
				<label class="control-label" for="username"> Username </label> <input 
					id="username" class="form-control" th:field="*{username}" required autofocus="autofocus" />
			</div>

			<div class="form-group">
				<label class="control-label" for="password"> Password </label> <input
					id="password" class="form-control" type="password" th:field="*{password}" required autofocus="autofocus" />
			</div>
			<br> 
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block">Registrati</button>
			</div>
		</form>
	</div>
</body>
</html>