<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>reMovie</title>
	
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merienda+One">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/navbar.css"/>
</head>
<body>
	
	<nav class="navbar navbar-expand-xl navbar-light bg-light">
		<a href="/" class="navbar-brand"><i class="fa fa-cube"></i>re<b>Movie</b></a>
		<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<!-- Collection of nav links, forms, and other content for toggling -->
		<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
			<div class="navbar-nav">
				<a href="/movies" class="nav-item nav-link">Film</a>
				<a href="/directors" class="nav-item nav-link">Registi</a>
				<a href="/actors" class="nav-item nav-link">Attori</a>
			</div>
			<div class="navbar-nav ml-auto">
				<div th:if="${session.isEmpty()}"  class="navbar-nav">
					<a href="/login" class="nav-item nav-link"><i class="fa fa-user-o"></i> Login</a></a>
				</div>
				<!--  -->
				<div th:unless="${session.isEmpty()}" class="nav-item dropdown">
					<a th:if="${session.admin}" href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"> <b class="caret"> Admin</b></a>
					<a th:unless="${session.admin}" href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"> <b class="caret" th:text="${session.username}"></b></a>
					<div class="dropdown-menu dropdown-menu-right">
						<a href="/profile/reviews" class="dropdown-item"><i class="fa fa-user-o"></i> Recensioni</a></a>
						<div class="dropdown-divider"></div>
						<a href="/logout" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a></a>
					</div>
				</div>
			</div>
		</div>
	</nav>
		<br>
	<!-- Create HTML registration form -->
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1>Inserisci un nuovo attore</h1>

				<form th:action="@{/actors/add}" method="post" th:object="${actor}">

					<div class="form-group">
						<label class="control-label" for="name"> Nome </label> <input 
							id="name" class="form-control" th:field="*{name}" required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="surname"> Cognome </label> <input
							id="surname" class="form-control" th:field="*{surname}" required autofocus="autofocus" />
					</div>
		            
		            <div class="form-group">
		            <label class="control-label" for="birthDate"> Data di nascita </label><br>
					    <input class="form-control" id="birthDate" type="date" th:field="*{birthDate}"required autofocus="autofocus">
					</div>
						
					<div class="form-group">
						<label class="control-label" for="nationality"> Nazionalità </label> <input
							id="nationality" class="form-control" th:field="*{nationality}" required autofocus="autofocus" />
					</div>
					
					<div class="form-group">
						<label class="control-label" for="height"> Altezza </label> <input
							id="height" class="form-control" type="number" th:field="*{height}" required autofocus="autofocus" />
					</div>
					
					<div class="form-group">
						<label class="control-label" for="hairColor"> Colore di capelli </label> <input
							id="hairColor" class="form-control" th:field="*{hairColor}" required autofocus="autofocus" />
					</div>
					
					<div class="form-group">
						<label class="control-label" for="eyesColor"> Colore degli occhi </label> <input
							id="eyesColor" class="form-control" th:field="*{eyesColor}" required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-success">Aggiungi</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	</body>
</html>